section.admin-form {
  margin: 5rem auto;
  /* text-align: center; */
}
section.admin-form fieldset {
  padding: 3rem;
}

section.admin-form fieldset legend {
  font-size: 2rem;
  font-weight: 700;
}
section.admin-form fieldset form .row :is(label, input) {
  display: block;
}
section.admin-form fieldset form .row label {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}
section.admin-form fieldset form .row :is(input, textarea) {
  margin-bottom: 1.5rem;
  width: 100%;
  border: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000;
}
section.admin-form fieldset form .row input[type="file"] {
  border: none;
}
section.admin-form fieldset form button {
  padding: 0.8rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
}
