:root {
  --color-grey-dark: #555;
  --color-grey-light: #ccc;
  --color-grey-light-2: #eee;
  --color-blue: rgb(0, 140, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}
a,
img,
button,
input,
select,
span,
i {
  display: inline-block;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 10px;
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 8px;
  }
}
body {
}
